@font-face {
    font-family: 'NanumGothic';
    src: url(assets/fonts/NanumGothic-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(assets/fonts/NanumGothic-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(assets/fonts/NanumGothic-Regular.ttf);
    font-weight: 400;
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'NanumGothic';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

* {
    box-sizing: border-box;
}

header {
    background-color: darkgray;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color .6s;
  }

.nav-link:hover {
    color: red;
} 

.images {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.main-container {
    display: flex;
    flex-direction: column;
}

.block-contacts {
    display: flex;
    border-bottom: 3px solid black;
}

.block-info {
    display: flex;
    flex-wrap: wrap;
}

.about {
    width: 80%;
}

.contacts-list {
    line-height: 40px;
}
  
.section {
    width: 28%;
    margin-left: 18%;
}

.section-contact{
    width: 25%;
    text-align: center;
}

.section-title {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gray;
    text-shadow: 1px 1px 2px indianred;
}

.sectio {
    margin-left: 5%;
} 

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transform: .5s;
}

.link:hover{
    color: red;
}
.footer-block {
    background-color: darkgray;
}

.footer-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.footer-info {
    margin-left: 5%;
}

.footer-logo {
    width: 90px;
    height: 45px;
    border-radius: 8px;
}

.footer-link {
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }